<% if @task.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :"タスク名" %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"詳しい内容" %><br>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :"終了期限" %><br>
    <%= form.date_field :expired_at %>
  </div>

  <div class="field">
    <%= form.label :"ステータス" %><br>
    <%= form.select :status, Task.statuses.keys.to_a, { include_blank: '選択してください' } %>
  </div>

  <div class="field">
    <%= form.label :"優先度" %><br>
    <%= form.select :priority, Task.priorities.keys.to_a, { include_blank: '選択してください' } %>
  </div>


  <div class="field">
    <% Lavel %>
    <%= form.check_box  %>
  </div>

  <br>

  <%= form.submit "登録する" %>

<% end %>