<h1>Tasks#show</h1>

<p>
  <strong>name:</strong> <%= @task.name %>
</p>
<p>
  <strong>content:</strong> <%= @task.content %>
</p>
<p>
<strong>task_created_at:</strong> <%= l @task.created_at %>
<p>
<p>
<strong>task_expired_at:</strong> <%= l @task.expired_at %>
<p>
  <strong>status:</strong> <%= @task.status %>
</p>

<%# <%= link_to "編集", edit_property_path(@property) %>
<%= link_to "戻る", tasks_path %>