<h2><%= "#{@user.name}詳細" %></h2>

<br>

<p>
  <strong>管理者権限 : </strong> <%= @user.admin %>
</p>
<p>
  <strong>メールアドレス : </strong> <%= @user.email %>
</p>
<p>
  <strong>タスク数 : </strong> <%= @user.tasks.count %>
</p>

<%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-outline-success" %>
<%= link_to "削除", admin_user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-secondary" %>

<hr>

<% @user.tasks.each do |task|%>
  <tr>
    <td class="task_names"><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= link_to current_user.name, user_path(task.user) %></td>
    <td class="task_expired_at"><%= l task.expired_at, format: :short %></td>
    <td class="task_row"><%= l task.created_at, format: :short %></td>
    <td><%= task.status %></td>
    <td class ="task_priority"><%= task.priority %></td>
    <td><%= link_to "詳細", task, class: "btn btn-outline-primary" %>
    <td><%= link_to "編集", edit_task_path(task), class: "btn btn-outline-success" %></td>
    <td><%= link_to "削除", task, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-secondary" %></td>
  </tr>
<% end %>

<%= link_to '戻る', admin_users_path %>